.Lesson{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background-color: whitesmoke;
    max-width: 420px;
    padding: 5px;
    border-radius: 5px;
    padding-bottom: 8px;
}